<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

  <display-name>BC Student Wellness Management System</display-name>


  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.well.wellness.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.well.wellness.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.well.wellness.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.well.wellness.servlets.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.well.wellness.servlets.ChangePasswordServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AppointmentBookingServlet</servlet-name>
    <servlet-class>com.well.wellness.servlets.AppointmentBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentBookingServlet</servlet-name>
    <url-pattern>/AppointmentBookingServlet</url-pattern>
  </servlet-mapping>

</web-app>
